*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: pretty;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #f8feff;
  font-family: "Satoshi-Regular";
}

h1, h2, h3, h4, h5, h6 {
  color: #0d50cc;
  padding: 0 10px;
}

h1 {
  font-size: 35;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 520px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font-size: 25;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 22;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 18px;
  }
}

p {
  color: #010814;
  padding: 0 10px;
  font-size: 18px;
}
@media screen and (max-width: 900px) {
  p {
    font-size: 16px;
  }
}

a {
  color: #010814;
}
a:hover {
  font-weight: bold;
  color: #010814;
}
a:active {
  color: #0d50cc;
}

form {
  width: 0;
  color: #010814;
}

input {
  background-color: #f8feff;
  border: 1px solid #010814;
  transition: border 0.2s linear;
}
input:hover {
  border-color: #0d50cc;
}
input:focus {
  outline-color: #0d50cc;
}

button {
  background-color: #f8feff;
  border: 1px solid #010814;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
button:hover {
  background-color: #0d50cc;
  color: #f8feff;
  border-color: #0d50cc;
}
button:active {
  color: #6d8599;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"), url("../fonts/Satoshi-Regular.woff") format("woff"), url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.navbar .navbar-menu .navbar-icon, .navbar .navbar-menu, .navbar .navbar-logo h1, .purchase-menu .purchase, .mercaderias .card {
  display: flex;
  align-items: center;
}

.mercaderias .card {
  border: solid 1px #6d8599;
  border-radius: 10px;
  box-shadow: 0 4px 4px #6d8599;
  max-width: 850px;
  overflow: hidden;
  margin: 20px auto;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .mercaderias .card {
    max-width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .mercaderias .card {
    flex-direction: column;
    max-width: 300px;
  }
}
.mercaderias .card .card-image {
  width: 200px;
}
.mercaderias .card .card-details .card-title {
  margin: 5px 5px 0px 0px;
}
.mercaderias .card .card-details .card-description {
  margin: 5px 0;
}
@media screen and (max-width: 520px) {
  .mercaderias .card .card-details .card-description {
    margin: 2px 0;
  }
}
.mercaderias .card .card-details .card-price {
  margin-top: 15px;
}
.mercaderias .card .card-details .card-button {
  padding: 10px 20px;
  margin: 4px;
}
@media screen and (max-width: 520px) {
  .mercaderias .card .card-details .card-button {
    padding: 5px 10px;
    margin-bottom: 8px;
  }
}

.purchase-menu {
  display: none;
  position: fixed;
  left: 25%;
  top: 0;
  z-index: 15;
  width: 50%;
  min-height: 250px;
  max-height: 1000px;
  height: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-bottom: solid 2px #0d50cc;
  padding: 12px 16px;
  background-color: #f8feff;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .purchase-menu {
    left: 15%;
    width: 75%;
  }
}
@media screen and (max-width: 520px) {
  .purchase-menu {
    left: 10%;
    width: 85%;
  }
}
.purchase-menu .close-icon {
  color: #010814;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.purchase-menu .close-icon:hover {
  color: #6d8599;
}
.purchase-menu .total-price {
  position: absolute;
  right: 10px;
  bottom: 63px;
}
.purchase-menu .purchase-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
.purchase-menu .purchase-buttons .close-button {
  padding: 8px 20px;
  margin: 8px 10px;
}
@media screen and (max-width: 520px) {
  .purchase-menu .purchase-buttons .close-button {
    padding: 5px 10px;
    margin-bottom: 8px;
  }
}
.purchase-menu .purchase-buttons .close-button:hover {
  background-color: #6d8599;
  border-color: #6d8599;
}
.purchase-menu .purchase-buttons .finish-button {
  padding: 8px 20px;
  margin: 8px 10px;
}
@media screen and (max-width: 520px) {
  .purchase-menu .purchase-buttons .finish-button {
    padding: 5px 10px;
    margin-bottom: 8px;
  }
}
.purchase-menu .purchase {
  border-bottom: solid 1px #6d8599;
  flex-direction: row;
  margin-top: 20px;
}
.purchase-menu .purchase:nth-child(3) {
  margin-top: 20px;
}
.purchase-menu .purchase:last-child {
  margin-bottom: 50px;
}
.purchase-menu .purchase .purchase-image {
  width: 100px;
}
.purchase-menu .purchase .purchase-details .purchase-title {
  margin: 5px 5px 0px 0px;
}
.purchase-menu .purchase .purchase-details .purchase-description {
  margin: 5px 0;
}
@media screen and (max-width: 520px) {
  .purchase-menu .purchase .purchase-details .purchase-description {
    margin: 2px 0;
  }
}
.purchase-menu .purchase .purchase-details .purchase-price {
  margin-top: 15px;
}

.show-purchase-menu {
  display: flex;
}

.purchase-pop-up {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 40%;
  top: 20%;
  z-index: 200;
  width: 20%;
  height: 45%;
  justify-content: center;
  align-items: center;
  border: solid 6px #056829;
  box-shadow: 0px 0px 0px 2px #31c467;
  border-radius: 20px;
  padding: 12px 16px;
  background-color: #31c467;
  box-sizing: content-box;
}
@media screen and (max-width: 900px) {
  .purchase-pop-up {
    left: 20%;
    width: 35%;
    height: 40%;
  }
}
@media screen and (max-width: 520px) {
  .purchase-pop-up {
    left: 20%;
    width: 50%;
    height: 27%;
  }
}
.purchase-pop-up .close-icon {
  color: #056829;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  font-size: 1.1rem;
  cursor: pointer;
}
.purchase-pop-up .close-icon:hover {
  color: #010814;
}
.purchase-pop-up .pop-up-text {
  text-align: center;
  font-weight: bold;
  color: #f8feff;
}
.purchase-pop-up .fa-check {
  display: block;
  color: #f8feff;
  font-size: 12rem;
}
@media screen and (max-width: 520px) {
  .purchase-pop-up .fa-check {
    font-size: 6rem;
  }
}

.show-pop-up {
  display: flex;
}

.cart-container {
  position: relative;
  display: inline-block;
}
.cart-container .cart-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #f8feff;
  transition: color linear 0.2s;
}
.cart-container .cart-icon:hover {
  color: #0d50cc;
}
@media screen and (max-width: 900px) {
  .cart-container .cart-icon {
    font-size: 1.5rem;
  }
}
.cart-container .active {
  color: #6d8599;
}
.cart-container .cart-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8feff;
  min-width: 290px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
@media screen and (max-width: 520px) {
  .cart-container .cart-menu {
    min-width: 260px;
  }
}
.cart-container .cart-menu .cart-button {
  float: right;
  padding: 2px 8px;
  margin: 15px 5px 0px;
}
.cart-container .cart-menu .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #6d8599;
}
.cart-container .cart-menu .cart-item .cart-item-name {
  width: 180px;
}
@media screen and (max-width: 520px) {
  .cart-container .cart-menu .cart-item .cart-item-name {
    width: 130px;
  }
}
.cart-container .cart-menu .cart-item .cart-item-price {
  padding: 0px 10px 0px 5px;
}
.cart-container .cart-menu .cart-item .cart-item-quantity {
  text-align: center;
  min-width: 25px;
  font-size: 0.9rem;
  padding: 0px 5px;
  border: 1px solid #6d8599;
  border-radius: 10px;
}
.cart-container .cart-menu .cart-item .cart-quantity-icon {
  font-size: 0.8rem;
  padding: 0px 3px;
  color: #010814;
  cursor: pointer;
}
.cart-container .cart-menu .cart-item .cart-quantity-icon:hover {
  color: #6d8599;
}
.cart-container .cart-menu .cart-item .cart-remove-icon {
  font-size: 0.6rem;
  padding-left: 10px;
  color: #010814;
  cursor: pointer;
}
.cart-container .cart-menu .cart-item .cart-remove-icon:hover {
  color: #6d8599;
}
.cart-container .cart-menu .cart-item:last-child {
  border-bottom: none;
}
.cart-container .show {
  display: block;
}

.user {
  position: relative;
  display: inline-block;
}
.user .user-icon {
  color: #f8feff;
  padding-left: 20px;
  font-size: 2rem;
  cursor: pointer;
  transition: color linear 0.2s;
}
.user .user-icon:hover {
  color: #0d50cc;
}
@media screen and (max-width: 900px) {
  .user .user-icon {
    font-size: 1.5rem;
  }
}
.user .active {
  color: #244480;
}
.user .user-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8feff;
  min-width: 170px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.user .user-menu .user-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6d8599;
}
.user .user-menu .user-button:hover {
  color: #244480;
  font-weight: bold;
}
.user .user-menu .hide {
  display: none;
}
.user .show {
  display: block;
}

.screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1450980392);
}

.show-screen {
  display: block;
}

.signup {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8feff;
}
.signup .signup-form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}
.signup .signup-form h2 {
  padding: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #010814;
}
.signup .signup-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.signup .signup-form input {
  background: transparent;
  width: calc(100% - 2rem);
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #010814;
}
.signup .signup-form input:hover {
  border-bottom-color: #6d8599;
}
.signup .signup-form input:focus {
  border-bottom-color: #0d50cc;
}
.signup .signup-form button {
  width: calc(100% - 3rem);
  padding: 10px;
  border-radius: 5px;
}

.login {
  display: none;
  position: fixed;
  left: 25%;
  top: 0;
  width: 50%;
  min-height: 250px;
  max-height: 1000px;
  justify-content: center;
  align-items: center;
  background-color: #f8feff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-bottom: solid 2px #0d50cc;
  padding: 12px 16px;
}
@media screen and (max-width: 900px) {
  .login {
    left: 15%;
    width: 75%;
  }
}
@media screen and (max-width: 520px) {
  .login {
    left: 10%;
    width: 85%;
  }
}
.login .close-icon {
  color: #010814;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
.login .close-icon:hover {
  color: #6d8599;
}
.login .login-form {
  padding: 20px 20px 0px;
  border-radius: 5px;
  width: 600px;
}
.login .login-form h2 {
  padding: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #010814;
}
.login .login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.login .login-form input {
  background: transparent;
  width: calc(100% - 2rem);
  padding: 5px;
  margin-bottom: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid #010814;
}
.login .login-form input:hover {
  border-bottom-color: #0d50cc;
}
.login .login-form input:focus {
  border-bottom-color: #0d50cc;
}
.login .login-form button {
  width: calc(100% - 3rem);
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.show {
  display: flex;
}

.navbar .navbar-menu .navbar-icon, .navbar .navbar-menu, .navbar .navbar-logo h1, .mercaderias .card, .purchase-menu .purchase {
  display: flex;
  align-items: center;
}

.navbar {
  background-color: #010814;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1600px) / 2);
  z-index: 10;
  position: static;
  border-bottom: 10px solid #244480;
}
@media screen and (max-width: 520px) {
  .navbar {
    flex-direction: column;
    height: 105px;
  }
}
.navbar .navbar-logo h1 {
  font-size: 2.5rem;
  color: #f8feff;
}
.navbar .navbar-logo h1 span {
  color: #0d50cc;
  display: inline;
}
@media screen and (max-width: 900px) {
  .navbar .navbar-logo h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 520px) {
  .navbar .navbar-logo h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 520px) {
  .navbar .navbar-menu {
    margin: 20px 0px;
  }
}
.navbar .navbar-menu .navbar-icon h2 {
  color: #f8feff;
  transition: color linear 0.2s;
}
.navbar .navbar-menu .navbar-icon h2:hover {
  color: #0d50cc;
}
@media screen and (max-width: 520px) {
  .navbar .navbar-menu .navbar-icon h2 {
    font-size: 1.2rem;
  }
}

.credit-text {
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-weight: lighter;
  font-size: 0.8rem;
  background-color: #010814;
  color: #f8feff;
  box-shadow: 0px -25px 50px -35px inset #0d50cc;
}

.footer {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #6d8599;
  background-color: #010814;
  border-top: solid #244480;
}
.footer:hover .footer-section .section-title {
  border-bottom: solid #0d50cc;
}
.footer .footer-section .section-title {
  font-size: 1.7rem;
  padding: 0;
  color: #f8feff;
  box-sizing: border-box;
  transition: border-width ease-out 0.2s;
}
.footer .footer-section .footer-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 14px;
}
.footer .footer-section .footer-list a {
  text-decoration: none;
  color: #fcfdff;
  transition: color linear 0.2s;
}
.footer .footer-section .footer-list a:hover {
  color: #0d50cc;
}

section .section-title {
  font-size: 1.9rem;
  color: #010814;
  display: flex;
  text-align: center;
  justify-content: center;
  width: fit-content;
  margin: 40px auto;
  border-bottom: 4px solid #244480;
  box-sizing: content-box;
}
@media screen and (max-width: 900px) {
  section .section-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 520px) {
  section .section-title {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
