%align-center{
    display: flex;
    align-items: center;
}
.navbar{
    background-color: $color-secundario;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1600px) /2);
    z-index: 10;
    position: relative;
    border-bottom: 10px solid $color-terciario;
    @include mobile{
        flex-direction: column;
        height: 105px;
    }
    .navbar-logo h1{
        @extend %align-center;
        font-size: 2.5rem;
        color: $color-background;
        span{
            color: $color-principal;
            display: inline;
        }
        
        @include tablet{
            font-size: 2rem;
        }
        @include mobile{
            font-size: 1.8rem;
        }
    }
    .navbar-menu{
        @extend %align-center;
        @include mobile{
            margin: 20px 0px
        }
        .navbar-icon{
            @extend %align-center;
            h2{
                color: $color-background;
                transition: color linear 0.2s;
                &:hover{
                    color: $color-principal
                }
                @include mobile{
                    font-size: 1.2rem;
                }
            }
        }
    }
}