.credit-text{
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
    background-color: $color-secundario;
    color: $color-background;
    box-shadow: 0px -25px 50px -35px inset $color-principal;
}
.footer{
    margin-top: 60px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $color-links;
    background-color: $color-secundario;
    border-top: solid $color-principal;
    &:hover{
        .footer-section{
            .section-title{
                border-bottom: solid $color-principal;
            }
        }
    }
    .footer-section{
        .section-title{
            font-size: 1.7rem;
            padding: 0;
            color: $color-background;
            box-sizing: border-box;
            transition: border-width ease-out 0.2s;
        }
        .footer-list{
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            font-size: 14px;
            a{
                text-decoration: none;
                color: #fcfdff;
                transition: color linear 0.2s;
                &:hover{
                    color: $color-principal
                }
            }
        }
    }
}
